@font-face {
    font-family: 'SayinFont'; /* Choose a name for the font */
    src: url('fonts/sayin.ttf') format('truetype'); /* Path to your font file */
}

body {
    background-color: rgb(79, 190, 107);
}

h1 {
    font-family: 'SayinFont', sans-serif; /* Apply the custom font */
    color: black;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    font-size: 92px; /* Small text size */
    letter-spacing: 5px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    

}

h2 {
    font-family: 'SayinFont', sans-serif; /* Apply the custom font */
    color: black;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    font-size: 92px; /* Small text size */
    letter-spacing: 5px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    border: 5px ridge rgb(255, 255, 255);; /* Border width, style, and color */
    border-radius: 10px;
    background:  rgb(79, 190, 107);
    

}

p {
    font-family: 'SayinFont', sans-serif; /* Apply the custom font */
    color: black;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    font-size: 30px; /* Small text size */
    letter-spacing: 2.5px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    margin-top: -60px;
    border-radius: 10px;


}


p1 {


    border: 5px solid rgb(0, 0, 0);; /* Border width, style, and color */
    border-radius: 10px;

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    background: rgb(20, 49, 14);
    flex-direction: column;
}

p2 {

    font-family: 'SayinFont', sans-serif; /* Apply the custom font */
    color: black;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    font-size: 24px; /* Small text size */
    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    margin-top: -60px;
    border-radius: 10px;


}

img {



    max-width: 100%;       /* Make images responsive */
    height: auto;          /* Maintain aspect ratio */
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    display: flex; /* Set the display to flex */
    align-items: center;   /* Center the images horizontally */

    gap: 10px;

    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}